# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# architectury / arch-loom build artifacts
.architectury-transformer

# claude
.claude

# cache
src/generated/resources/.cache
common/src/generated/resources/.cache

# other
eclipse
run
runs
run-data

repo